.App {
  margin: 0 auto;
  padding: 2rem 3rem;
  max-width: 1024px;
}

.instructions {
  margin-bottom: 3rem;
}

.products-list {
  display: block;
}

.button {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  height: 48px;
  margin-top: 24px;
  display: inline-block;
  width: 100%;
  max-width: 280px;
  font-size: 1.2rem;
  line-height: 1.1rem;
  color: #ffffff;
}

.result {
  display: block;
  white-space: break-spaces;
  padding-top: 2rem;
  text-align: left;
  line-height: 1.75rem;
}